/*==========================================================================
All Side Bar
==========================================================================*/
.all__sidebar {
    &-item {
        border: 1px solid var(--border-color-2);
        padding: 40px;
        margin-bottom: 30px;
        &:last-child {
            margin: 0;
        }
        h5 {
            position: relative;
            padding-bottom: 6px;
            margin-bottom: 30px;
            &::after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                width: 40px;
                background: var(--primary-color);
            }
        }
        &-search {
            form {
                display: flex;
                position: relative;
                input {
                    height: 70px;
                }
                button {
                    padding: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 70px;
                    height: 70px;
                }
            }
        }
        &-category {
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    a {
                        display: block;
                        color: var(--heading-color);
                        font-weight: 500;
                        font-family: var(--heading-font);
                        transition: all 0.4s ease-out 0s;
                        font-size: 14px;
                        line-height: 24px;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid var(--border-color-2);
                        i {
                            float: right;
                            position: relative;
                            top: 5px;
                        }
                        &:hover {
                            color: var(--primary-color);
                            margin-left: 5px;
                        }
                    }
                    &:last-child a {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &-post {
            &-item {
                display: flex;
                align-items: center;
                gap: 25px;
                margin-bottom: 30px;
                &-image {
                    width: 100px;
                    height: 100px;
                    min-width: 100px;
                    overflow: hidden;
                    img {
                        transform: scale(1);  
                        transition: all 0.4s ease-out 0s;
                        object-fit: cover;
                    }
                    &:hover img {
                        transform: scale(1.04);                  
                    }
                }
                &-content {
                    span {
                        font-size: 12px;
                        line-height: 22px;
                        font-weight: 500;
                        font-family: var(--heading-font);
                        color: var(--color-1);
                        i {
                            color: var(--primary-color);
                            margin-right: 8px;
                            font-size: 14px;
                        }
                    }
                    h6 {
                        a {
                            transition: all 0.4s ease-out 0s;
                            display: inline-block;
                            &:hover {
                                color: var(--primary-color);
                            }
                        }                        
                    }
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        &-tag {
            ul {
                padding: 0;
                margin: 0;
                margin-left: -5px;
                margin-top: -5px;
                li {
                    display: inline-block;
                    list-style: none;
                    a {
                        transition: all 0.4s ease-out 0s;
                        border: 1px solid var(--border-color-2);
                        margin: 5px;
                        padding: 6px 17px;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 22px;
                        font-weight: 500;
                        &:hover {
                            color: var(--white);
                            background: var(--primary-color);
                            border-color: var(--primary-color);
                        }                         
                    }
                }
            }
        }
        &-help {            
            position: relative;
            z-index: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 40px;
            padding-top: 270px;
            h3 {
                margin-bottom: 25px;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--color-8);
                color: var(--white);
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                z-index: -1;
                background-image: linear-gradient(180deg, rgba(12, 12, 12, 0.6) 0%, var(--heading-color) 100%);               
            }            
            &-contact {
                display: flex;
                align-items: center;
                &-icon {
                    margin-right: 20px;
                    i {
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        display: inline-block;
                        font-size: 25px;
                        text-align: center;
                        border-radius: 50%;
                        background: var(--white);
                        color: var(--primary-color);
                    }
                }
                &-content {
                    span {
                        color: var(--color-3);
                        font-weight: 500;
                        font-family: var(--heading-font);
                        margin-bottom: 4px;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 24px;
                    }
                    h4 {
                        color: var(--white);
                        a {
                            transition: all 0.3s ease-out 0s;                    
                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1399px) {
    .all__sidebar {
        &-item {
            padding: 40px 35px;
            &-help {
                padding: 30px;
                padding-top: 250px;
            }
            &-post {
                &-item {
                    gap: 20px;
                    &-image {
                        width: 90px;
                        height: 90px;
                        min-width: 90px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .all__sidebar {
        &-item {
            padding: 40px 30px;
            &-help {        
                padding-top: 200px;           
                &-contact {
                    &-icon {
                        margin-right: 15px;
                        i {
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                        }
                    }
                    &-content {
                        h4 {
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 381px) {
    .all__sidebar {
        &-item {
            &-search {
                form {
                    display: flex;
                    position: relative;
                    input {
                        height: 60px;
                    }
                    button {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
            &-post {
                &-item {
                    &-image {
                        width: 80px;
                        height: 80px;
                        min-width: 80px;
                    }
                    &-content {
                        h6 {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
            }
            &-tag {
                ul {
                    li {
                        a {
                            padding: 6px 14px;                        
                        }
                    }
                }
            }
        }
    }
}